body {
	background-color: rgb(216, 228, 246);
}

a {
	color: darkblue;
}

a:hover {
	text-decoration: none;
	color: white;
}


.title {
	padding: 5px;
	border: 1px solid grey;
	width: 45%;
	background-color: black;
	font-size: 2em;
	color: coral;
}

.content {
	padding: 5px;
	border: 1px solid grey;
	width: 45%;
	background-color: black;
	color: coral;
}