<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    	<link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
    <div class="container">
    	<div class="row">
    		<div class="col">
	            <h1 th:text="${spieler.name}">!</h1>
	            
	            <form th:object="${spielerDto}" th:action="@{/vereine/deleteSpieler/{id}/(id=${spieler.id})}" method="post" name="delete">
					<p><button class="btn btn-danger" type="submit">Löschen</button></p>   
				</form>
				<div>
					Gehalt: <span th:text="${spieler.gehalt}"></span>
					<br>
					Rückennummer: <span th:text="${spieler.nummer}"></span>
				</div>
			
				<h3>Spielerinformationen verändern</h3>
		        <form th:object="${spielerDto}" th:action="@{/vereine/updateSpieler/{id}(id=${spieler.id})}" method="post">  
					<p>Name:<br><input type="text" th:field="*{name}"></p>
					<p th:if="${#fields.hasErrors('gehalt')}" th:errors="*{name}"></p>   
					<p>Gehalt:<br> <input th:field="*{gehalt}"></p>
					<p th:if="${#fields.hasErrors('gehalt')}" th:errors="*{gehalt}"></p> 
					<p>Rückennummer:<br> <input th:field="*{nummer}"></p>
					<p th:if="${#fields.hasErrors('gehalt')}" th:errors="*{nummer}"></p>
					<p><input class="btn btn-primary" type="submit"></p>  
				</form>
			 </div>
		</div>
	</div>      

		
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>